<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="EcommerceLoginTestSuite">
    <test thread-count="5" name="EcommerceTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="ecommerce.app.testcases.LoginTest001"/>
        </classes>
    </test>
</suite>
